sudo: true
language: node_js
node_js:
- "node"
- "lts/*"
git:
  depth: 1
cache:
  timeout: 1800
  yarn: true
  directories:
  - node_modules
env:
- CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
notifications:
  email: false
